@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    @font-face {
        font-family: bezier;
        src: url(../fonts/BézierSans_Regular.ttf);
    }
    
    @font-face {
        font-family: trebuc;
        src: url(../fonts/trebuc.ttf);
    }

    html{font-family: bezier;}
    *{
        @apply font-extrabold;
    }
    .in-put{
        @apply block w-full px-4 py-1 outline-none focus:bg-slate-300;
    }
    .in-puts{
        @apply block lg:w-1/2 w-full px-4 py-1 outline-none focus:bg-slate-300;
    }
    .div-register-form{
        @apply flex lg:flex-row flex-col lg:gap-y-0 gap-y-1 justify-around gap-x-1;
    }
    .register-form{
        @apply flex-1 flex flex-col gap-y-5 justify-center px-2;
    }
    .table-th{
        @apply p-2 text-sm font-semibold tracking-wide text-left;
    }
    .table-thm{
        @apply p-2 text-sm font-semibold tracking-wide text-center;
    }
    .table-td{
        @apply whitespace-nowrap px-1 text-xs font-semibold;
    }
    .table-tdm{
        @apply whitespace-nowrap px-1 py-3 text-center font-semibold;
    }
    
}

